.Homepage{
    place-self: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
    // border: 2px solid black;
    width: 420px;
    // position: absolute;

    .Container{
        width: 420px;
        padding-bottom: 40px;
        // border: 2px solid black;
        height: auto;

    }
}