.Postbar{
    place-self: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 420px;
    justify-content: space-around;
    padding: 20px;
        .Caption{
            padding-left: 40px; 
            height: 30px;
            border: 2px solid black;
            border-radius: 5px;
            width: 300px;
            font-size: 16px;
            width: 100%;
            word-wrap: break-word; /* Ensures text wraps within the input */
            overflow-wrap: break-word;
        }

        .Notes{
            padding-left: 40px; 
            height: 80px;
            border: 2px solid black;
            border-radius: 5px;
            width: 300px;
            font-size: 16px;
            width: 100%;
            word-wrap: break-word; /* Ensures text wraps within the input */
            overflow-wrap: break-word;

        }

    .ButtonContainer{
        .Button{
            display: flex;
            background-color: #1cab26;
            color: white;
            border-radius: 5px;
            width: 200px;
            justify-content: center;
            align-items: center;
            font-size: smaller;
            padding: 3px;
            margin-bottom: 40px;
            cursor: pointer;
        }
    }
}