.Profilebar{
    place-self: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 420px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    

    .First{
        display: flex;
        width: 420px;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid black;
        font-weight: 500;

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
            border: 3px solid rgb(193, 188, 188);
        }

        .Followers{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .Following{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .Second{
        display: flex;
        flex-direction: column;
        .Username{
            // border: 2px solid black;
            width: 420px;
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
        }
    }
}