.Profilebar{
    place-self: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 420px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    position: absolute;

  
    .Third{
        width: 200px;

        position: relative;
        left: 120px;
        bottom: 20px;

        .Button{
            display: flex;
            background-color: #1cab26;
            color: white;
            border-radius: 5px;
            width: 150px;
            justify-content: center;
            align-items: center;
            font-size: smaller;
            padding: 3px;
            margin-bottom: 40px;
            cursor: pointer;
        }
    }
}